<!doctype html>
<title>Jake's Stock Grapher</title>
<div class=page>
  <h1>Jake's Stock Grapher</h1>
  <div class=metanav>

<h4><div align="center">
The value of the stock for July 2017 will be plotted.
</div></h4>

<form id='userinfoform_lulu' method='post' action='chart' ><div align="center"> <!-- action is the URL you want to move to next-->
   <p>
   Stock Ticker: <input type='text' name='ticker_name' />
   </p>
   <p>
   <input type='Submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
   </p>
</div></form>

</div>
</div>
